html {
    height: 100%;
    width: 100%;
    background-color: #596cb7;
  }
  
  button {
    margin: 4px;
    font-size:x-large;
    background-color: #5cb3e6;
  }
  
  h1 {
    
    width: 100%;
    background-color: #bd9ff9;
    
  }
  